<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:cache="http://www.springframework.org/schema/cache"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/cache 
    http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
    
     <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="org.ssm.dufy.web">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    <!-- 配置登录拦截器 -->
    <mvc:interceptors>
    	<mvc:interceptor>
    		<!-- <mvc:mapping path="/**"/>子标签可以定义需要进行拦截的请求路径 -->
    		<mvc:mapping path="/**"/> 
    		<!-- 指定拦截器的类 -->
    		<bean class="org.ssm.dufy.util.LoginInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>

    <!-- 注解驱动 -->
    <mvc:annotation-driven />
    
    <!-- 静态资源映射 -->
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/static/" mapping="/static/**"/>
    <mvc:resources location="/uploadFile/" mapping="/uploadFile/**"/>
    
    <!-- 视图解析器JSP -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>  
	
	<!-- 上传文件的设置 ，maxUploadSize=-1，表示无穷大。uploadTempDir为上传的临时目录 --> 
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>1048576000</value>
        </property>
    </bean>
    
    <!-- =============================================== -->
	
</beans>   