<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PermissionMapper">
	<resultMap type="Permission" id="permissionMap">
		<id column="ID" jdbcType="INTEGER" property="id"/>
		<result column="PERMISSION" jdbcType="VARCHAR" property="permission"/>
	</resultMap>
	<sql id="columns">
		ID,PERMISSION
	</sql>
	
	<select id="getPermissionByParam" parameterType="java.util.Map" resultMap="permissionMap">
		SELECT
			p.permission
		FROM
			TB_ROLE r,
			tb_permission p,
			tb_role_permission rp
		WHERE
			r.id = rp.rid
			AND p.id = rp.pid	
  		AND r.roleName =#{rolename,jdbcType=VARCHAR}
	</select>
	
</mapper>